@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

h1 {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 150%;
    margin-bottom: 50px;
    margin-top: 20px;
}

/*========COL LEFT=============*/

#statPlayer {
    font-family: 'Press Start 2P', cursive;
}

#statPlayer h3 {
    text-align: center;
    font-size: 150%;
    margin-bottom: 10%;
}
/*=======COL RIGHT=============*/

#gameInfo {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#gameInfo h3 {
    font-size: 150%;
    margin-bottom: 10%;
}

#notif {
    font-size: 60%;
}


/*=========BOTTOM===============*/

#verse {
    font-size: 80%;
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#note {
    font-size: 80%;
    position: absolute;
    bottom: 0px;
    right: 10px;
}
